@import '@/shared/style-system/variables';

.logo {
    display: block;
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: $elevation200;
    cursor: pointer;
    transition: all .1s ease-in;
    
    &:hover {
        box-shadow: $elevation300;
    }

    & svg {
        width: 100%;
        height: 100%;
    }
}