$white: #ffffff;
$white: #ffffff;
$primaryColor: #2196F3;
$textColorNeutral: #211C1C;
$textColorNeutral100: #4A4A4A;
$textColorNeutral200: #A0B0B9;
$colorNeutral100: #DFE5EC;
$hoverBgColor: #F1FCFF;
$elevation100: 0 2px 8px 0 rgba(0,0,0,0.1);
$elevation200: 0 8px 11px 0 rgba(55, 104, 142, 0.25);
$elevation300: 0 4px 4px 0 rgba(0,0,0, 0.25);

:export {
    primary-color: $primaryColor;
    text-color-neutral: $textColorNeutral;
    text-color-neutral-100: $textColorNeutral100;
    text-color-neutral-200: $textColorNeutral200;
    primary-color-100: $colorNeutral100;
    elevation-100: $elevation100;
}